/* light weight */
@font-face {
  font-family: "rubik";
  src: url("/fonts/rubik/Rubik-Light.woff2") format("woff2"),
    url("/fonts/rubik/Rubik-Light.woff") format("woff"),
    url("/fonts/rubik/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* regular weight */
@font-face {
  font-family: "rubik";
  src: url("/fonts/rubik/Rubik-Regular.woff2") format("woff2"),
    url("/fonts/rubik/Rubik-Regular.woff") format("woff"),
    url("/fonts/rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* medium weight */
@font-face {
  font-family: "rubik";
  src: url("/fonts/rubik/Rubik-Medium.woff2") format("woff2"),
    url("/fonts/rubik/Rubik-Medium.woff") format("woff"),
    url("/fonts/rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* semibold weight */
@font-face {
  font-family: "rubik";
  src: url("/fonts/rubik/Rubik-SemiBold.woff2") format("woff2"),
    url("/fonts/rubik/Rubik-SemiBold.woff") format("woff"),
    url("/fonts/rubik/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* bold weight */
@font-face {
  font-family: "rubik";
  src: url("/fonts/rubik/Rubik-Bold.woff2") format("woff2"),
    url("/fonts/rubik/Rubik-Bold.woff") format("woff"),
    url("/fonts/rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* extrabold weight */
@font-face {
  font-family: "rubik";
  src: url("/fonts/rubik/Rubik-ExtraBold.woff2") format("woff2"),
    url("/fonts/rubik/Rubik-ExtraBold.woff") format("woff"),
    url("/fonts/rubik/Rubik-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* black weight */
@font-face {
  font-family: "rubik";
  src: url("/fonts/rubik/Rubik-Black.woff2") format("woff2"),
    url("/fonts/rubik/Rubik-Black.woff") format("woff"),
    url("/fonts/rubik/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
